*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{}
.container{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.container .logo{
    width: 20%;
}
.container .logo a{
}

.menu ul li a:hover{
    background-color: blue;
    color: white;
}
.container .logo a img{}
.menu{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.menu ul{
    list-style: none;
    justify-content: flex-end;
    display: flex;
    /* text-decoration: none; */
}
.menu ul li{}
.menu ul li a{
    text-decoration: none;
    padding: 41px;
    display: inline-block;
    font-size: 20px;
    color: #333;
}

section{
    margin-top: 100px;
}
.container1{
    margin: auto;
    width: ;
    width: 1200px;
    }

    .container1 img{
    width: 100%;
}

.container2{
    width: 1000px;
    margin: auto;
    margin-top: 100px;
}
.container2 h4{
    font-size: 14px;
    color: #ccc1c1;
    margin-bottom: 30px;
}
.container2 h1{
    color: #443a3a;
    margin-bottom: 30px;
}
.container2 p{
    text-align: justify;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
}
.container2 a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.container3{
    width: 1000px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 117px;
}
.container3 .box1{
    /* padding: 30px; */
    width: 500px;
    padding-right: 20px;
}
.container3 .box1 img{
    width: 100%;
    /* height: 283px; */
}
.container3 .box1 h4{margin: 20px 0px;color: #c3b4b4;}
.container3 .box1 h2{
    color: #d67f7f;
    margin-bottom: 20px;
}
.container3 .box1 p{
    text-align: justify;
    font-size: 18px;
    line-height: 24px;
}




.container3 .box2{
    width: 500px;
    /* height: 100%; */
    padding-left: 20px;
}

    
.container3 .box2 img{
    width: 100%;
}

.container3 .box2 h4{margin: 20px 0px;color: #c3b4b4;}
.container3 .box2 h2{
    color: #d67f7f;
    margin-bottom: 20px;
}
.container3 .box2 p{
    text-align: justify;
    font-size: 18px;
    line-height: 24px;
}

footer{
    background-color: #eae5e5;
    /* height: 39px; */
}
.container4{
    width: 1200px;
    /* float: right; */
    margin: auto;
    /* float: left; */
    box-sizing: border-box;
    display: flex;
    padding: -4px;
    padding: 28px;
}
.container4 .box1{
    width: 50%;
    /* float: left; */
}
.container4 .box1 a{
    text-decoration: none;
    color: #776e6e;
    /* padding: 40px; */
    display: inline-block;
    padding: 10px;
}
.container4 .box2{
    width: 50%;
    text-align: end;
    /* justify-content: flex-end; */
}
.container4 .box2 p{
    color: #776e6e;
}

.container4 .box2 i{
    padding: 10px;
}


